.card{
  margin: 10px;
  background-color: #030E97;
  font-family: Arial, Helvetica, sans-serif;  
}

.card-header{
  font-weight: bold;
  color:aliceblue;  
  font-size: 18px;
}

.card-title{
  color:#031A70;
  font-weight: bold;
}

.card-body{
  background-color: #CCD6F9;
  color: #000;
}

.table{
  background-color: #FFF;
  margin-top: 10px;
}